.movie_container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 10px; 
}
.movie_details{
    padding: 2px 16px;
}

.movie_poster{
    width: inherit;
}

.details_container{
    display: flex; 
    align-items: center;
}